form( name = 'newTaskForm')
  .col-xs-12.col-sm-6
    .input-group.input-group-sm
      span.input-group-addon Título
      input.form-input.form-control( ng-model = 'task.title', type = 'text',
        placeholder = 'Título de la tarea', name = 'title', required, rd-Validation,
        vText = 'Coloca un valor válido', validationtype = 'text')
    br
    .input-group.input-group-sm
      span.input-group-addon Creado por
      input.form-input.form-control( disabled, value = '#{ currentUser }')
    br
    .input-group.input-group-sm
      span.input-group-addon Fecha límite
      input.form-input.form-control( ng-model = 'task.deadline', type='date' ,
        name = 'deadline', required, rd-Validation,
        vText = 'Coloca un valor válido',
        validationtype = 'date')
    br
    .input-group.input-group-sm
      span#creationDayspan.help.input-group-addon en
      input.form-input.form-control( disabled, 
        placeholder = '{{task.creation_date | date:"dd/MM/yyyy"}}' )
    br
    .input-group.input-group-sm
      span.input-group-addon Prioridad
      input.form-control( ng-model = 'task.priority', name = 'priority',
        placeholder = '1', type = 'number', ng-minlength = '1', ng-maxlenuegth = '5'
        min = '1', max = '5', required, rd-Validation, vText = 'Coloca un valor válido',
        validationtype = 'number')
    br
    #textarea
      textarea.form-control( ng-model = 'task.description',
        rows="10", placeholder = 'Descripción de la tarea', required, rd-Validation,
        vText = 'Coloca un valor válido', validationtype = 'text')
    br
    #descriptionlabel.col-md-12.task-labels-container
      div( ng-repeat = 'label in labels', 
        ng-click = 'selectLabel( $index )'
        class = 'task-label task-label-{{$index}}')
      .well.text-center( ng-class = 'task.label' )
        h1( ng-bind = 'task.label' )
  .col-xs-12.col-sm-6
    .input-group.input-group-sm
      span.input-group-addon Asignar
      input.form-control( ng-model = 'temporal.worker',
        placeholder = 'Nombre del usuario', auto-complete, ui-items='users')
      span.input-group-btn
        button.btn.btn-success( ng-click = 'addWorkertoAssigned()', 
          type='button' ) +
    #workers.panel-group
      .panel.panel-default
        .panel-heading
          h3.panel-title Usuarios Asignados
            a.text-right.pull-right.collapseToogle.glyphicon.glyphicon-chevron-up(
              data-toggle = 'collapse', data-parent = '#workers', 
              href = '#workers-content')
          #workers-content.panel-collapse.collapse.in
            .panel-body
                #workersRepeat.btn-group( 
                ng-repeat = 'worker in temporalForm.assigned')
                    button.btn.btn-xs( ng-bind = 'worker.username') 
                    button.btn-danger.btn.btn-xs( 
                          ng-click = 'removeWorkerFromAssigned( $index )' ) -
    
    br
    .input-group.input-group-sm
      span#remainderSpan.help.input-group-addon Recordatorios
      input.form-control( ng-model = 'temporal.reminder',
        placeholder = '1', type = 'number', min = '1', max = '60')
      span.input-group-btn
        button.btn.btn-success( ng-click = 'addReminderToReminders()',
          type='button') +
    #reminders.panel-group
      .panel.panel-default
        .panel-heading
          h3.panel-title Recordatorios Asignados
            a.text-right.pull-right.collapseToogle.glyphicon.glyphicon-chevron-up(
              data-toggle = 'collapse', data-parent = '#reminders',
              href = '#reminders-content' )
          #reminders-content.panel-collapse.collapse.in
            .panel-body
              #reminderRepeat.btn-group( 
                ng-repeat = 'remind in temporalForm.reminder')
                button.btn.btn-xs( ng-bind = 'remind.numberOfDays')
                button.btn.btn-danger.btn-xs( 
                  ng-click = 'removeReminderFromReminders( $index )') -
    br
    div(class='{{temporalForm.assigned.length > 1 && "view" || "notview"}}')
      div.checkbox
        label
          input( type = 'checkbox', ng-model = 'isindependient')
          | ¿Esta tarea es independiente para cada usuario Asignado?
    div.checkbox
        label
          input( type = 'checkbox', ng-model = 'subtasks')
          | ¿Esta tarea tiene sub tareas?
  
  .col-xs-12.col-sm-6.pull-right
    button#createTask.btn.btn-block.btn-primary( ng-click = 'toSubmit()',
      ng-disabled = 'newTaskForm.$invalid')
      | {{subtasks == true && "Continuar" || "Crear tarea" }}

  a( data-toggle='modal', href='#subTasks') Hola
  #subTasks.modal.fade( tabindex='-1', role='dialog', aria-hidden='true' )
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h1.modal-title( ng-bind = 'task.title' )
        .modal-body
          h3 Nueva Sub Tarea
            .pull-right.btn.btn-info(data-toggle='tooltip', data-placement='top',
              title='Agregar sub tarea', ng-click = 'AddSubTask()')
              span.glyphicon.glyphicon-plus
          #usersAsigned(ng-repeat="user in temporalForm.assigned")
            span.pull-left.text-primary(ng-bind = 'user.username +",  "') 
          span actualmente se tienen asignados a la tarea
          br
          br
          #userAsigned.height(ng-repeat="subtask in subTasks")
              .input-group
                span.input-group-addon
                  div
                    input.form-control(type='text', placeholder='Titulo de la tarea',
                      name='title',rd-Validation, vText = 'Coloca un valor válido',
                      validationtype = 'text', required, ng-model='subtask.title')
                span.input-group-addon
                  div
                    input.form-control(type='text', placeholder='Usuario', name='user',
                    auto-complete, ui-items='users',rd-Validation ,required
                    vText = 'Coloca un valor válido', validationtype = 'text',
                    ng-model='subtask.assigned')
                span.input-group-addon
                  div
                    input.form-control(type='number', ng-model='subtask.priority',
                    name='priority', placeholder='1',required)
              br
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal' ,
            aria-hidden="true")
            | Cancelar
          button.btn.btn-info( data-dismiss='modal', 
            ng-click = '') Crear SubTarea(s)